/* Fonts */
@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-bla-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-bla-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-bla-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-bla-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-bla-webfont.svg#latoblack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-blaita-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-blaita-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-blaita-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-blaita-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-blaita-webfont.svg#latoblack_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-bol-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-bol-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-bol-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-bol-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-bol-webfont.svg#latobold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-bolita-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-bolita-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-bolita-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-bolita-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-bolita-webfont.svg#latobold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-hai-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-hai-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-hai-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-hai-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-hai-webfont.svg#latohairline") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-haiita-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-haiita-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-haiita-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-haiita-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-haiita-webfont.svg#latohairline_italic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-lig-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-lig-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-lig-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-lig-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-lig-webfont.svg#latolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-ligita-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-ligita-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-ligita-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-ligita-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-ligita-webfont.svg#latolight_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-reg-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-reg-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-reg-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-reg-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-Lato';
  src: url("/fonts/dapps-lato-web/dapps-lato-regita-webfont.eot");
  src: url("/fonts/dapps-lato-web/dapps-lato-regita-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-lato-web/dapps-lato-regita-webfont.woff") format("woff"), url("/fonts/dapps-lato-web/dapps-lato-regita-webfont.ttf") format("truetype"), url("/fonts/dapps-lato-web/dapps-lato-regita-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("/fonts/opensans-web/opensans-bold-webfont.eot");
  src: url("/fonts/opensans-web/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-web/opensans-bold-webfont.woff2") format("woff2"), url("/fonts/opensans-web/opensans-bold-webfont.woff") format("woff"), url("/fonts/opensans-web/opensans-bold-webfont.ttf") format("truetype"), url("/fonts/opensans-web/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("/fonts/opensans-web/opensans-light-webfont.eot");
  src: url("/fonts/opensans-web/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-web/opensans-light-webfont.woff2") format("woff2"), url("/fonts/opensans-web/opensans-light-webfont.woff") format("woff"), url("/fonts/opensans-web/opensans-light-webfont.ttf") format("truetype"), url("/fonts/opensans-web/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("/fonts/opensans-web/opensans-regular-webfont.eot");
  src: url("/fonts/opensans-web/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-web/opensans-regular-webfont.woff2") format("woff2"), url("/fonts/opensans-web/opensans-regular-webfont.woff") format("woff"), url("/fonts/opensans-web/opensans-regular-webfont.ttf") format("truetype"), url("/fonts/opensans-web/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("/fonts/opensans-web/opensans-semibold-webfont.eot");
  src: url("/fonts/opensans-web/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-web/opensans-semibold-webfont.woff2") format("woff2"), url("/fonts/opensans-web/opensans-semibold-webfont.woff") format("woff"), url("/fonts/opensans-web/opensans-semibold-webfont.ttf") format("truetype"), url("/fonts/opensans-web/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-Raleway';
  src: url("/fonts/dapps-raleway-web/dapps-raleway/raleway-bold-webfont.eot");
  src: url("/fonts/dapps-raleway-web/dapps-raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-raleway-web/dapps-raleway-bold-webfont.woff2") format("woff2"), url("/fonts/dapps-raleway-web/dapps-raleway-bold-webfont.woff") format("woff"), url("/fonts/dapps-raleway-web/dapps-raleway-bold-webfont.ttf") format("truetype"), url("/fonts/dapps-raleway-web/dapps-raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-Raleway';
  src: url("/fonts/dapps-raleway-web/dapps-raleway-italic-webfont.eot");
  src: url("/fonts/dapps-raleway-web/dapps-raleway-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-raleway-web/dapps-raleway-italic-webfont.woff2") format("woff2"), url("/fonts/dapps-raleway-web/dapps-raleway-italic-webfont.woff") format("woff"), url("/fonts/dapps-raleway-web/dapps-raleway-italic-webfont.ttf") format("truetype"), url("/fonts/dapps-raleway-web/dapps-raleway-italic-webfont.svg#ralewayitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Dapps-Raleway';
  src: url("/fonts/dapps-raleway-web/dapps-raleway-regular-webfont.eot");
  src: url("/fonts/dapps-raleway-web/dapps-raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-raleway-web/dapps-raleway-regular-webfont.woff2") format("woff2"), url("/fonts/dapps-raleway-web/dapps-raleway-regular-webfont.woff") format("woff"), url("/fonts/dapps-raleway-web/dapps-raleway-regular-webfont.ttf") format("truetype"), url("/fonts/dapps-raleway-web/dapps-raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BonvenoCF';
  src: url("/fonts/bonvenocf-web/BonvenoCF-Light-webfont.eot");
  src: url("/fonts/bonvenocf-web/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/bonvenocf-web/BonvenoCF-Light-webfont.woff") format("woff"), url("/fonts/bonvenocf-web/BonvenoCF-Light-webfont.ttf") format("truetype"), url("/fonts/bonvenocf-web/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-GrandHotel';
  src: url("/fonts/dapps-grandhotel-web/dapps-grandhotel-regular-webfont.eot");
  src: url("/fonts/dapps-grandhotel-web/dapps-grandhotel-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-grandhotel-web/dapps-grandhotel-regular-webfont.woff2") format("woff2"), url("/fonts/dapps-grandhotel-web/dapps-grandhotel-regular-webfont.woff") format("woff"), url("/fonts/dapps-grandhotel-web/dapps-grandhotel-regular-webfont.ttf") format("truetype"), url("/fonts/dapps-grandhotel-web/dapps-grandhotel-regular-webfont.svg#grand_hotelregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-DancingScript';
  src: url("/fonts/dapps-dancingscript-web/dapps-dancingscript-regular-webfont.eot");
  src: url("/fonts/dapps-dancingscript-web/dapps-dancingscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-dancingscript-web/dapps-dancingscript-regular-webfont.woff2") format("woff2"), url("/fonts/dapps-dancingscript-web/dapps-dancingscript-regular-webfont.woff") format("woff"), url("/fonts/dapps-dancingscript-web/dapps-dancingscript-regular-webfont.ttf") format("truetype"), url("/fonts/dapps-dancingscript-web/dapps-dancingscript-regular-webfont.svg#dancing_script_otregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dapps-Pacifico';
  src: url("/fonts/dapps-pacifico-web/dapps-pacifico-webfont.eot");
  src: url("/fonts/dapps-pacifico-web/dapps-pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/dapps-pacifico-web/dapps-pacifico-webfont.woff2") format("woff2"), url("/fonts/dapps-pacifico-web/dapps-pacifico-webfont.woff") format("woff"), url("/fonts/dapps-pacifico-web/dapps-pacifico-webfont.ttf") format("truetype"), url("/fonts/dapps-pacifico-web/dapps-pacifico-webfont.svg#pacificoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body, ul, ol, h1, h2, h3, h4, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open-Sans, Dapps-Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 18px;
  background-color: #f2f2f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.66667;
  letter-spacing: 0em;
}

#slider {
  position: relative;
  margin: 25px 25px 15px 25px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

#radio1,
#radio2,
#radio3 {
  display: none;
}

.button {
  border: 2px solid #fff;
  height: 16px;
  width: 16px;
  left: 49.3%;
  bottom: 12px;
  cursor: pointer;
  z-index: 1;
}

.active {
  width: 8px;
  height: 8px;
  background-color: #fff;
  left: calc(49.3% - 20px + 16px / 4);
  bottom: 16px;
  z-index: 2;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.button,
.active {
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
}

.b1 {
  margin-left: -20px;
}

.b2 {
  margin-left: 0;
}

.b3 {
  margin-left: 20px;
}

#radio1:checked ~ .active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#radio2:checked ~ .active {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

#radio3:checked ~ .active {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

#radio1:checked ~ .slider-backgrounds,
#radio1:checked ~ .slider-items {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#radio2:checked ~ .slider-backgrounds,
#radio2:checked ~ .slider-items {
  -webkit-transform: translateX(-33.3333333333%);
          transform: translateX(-33.3333333333%);
}

#radio3:checked ~ .slider-backgrounds,
#radio3:checked ~ .slider-items {
  -webkit-transform: translateX(-66.6666666667%);
          transform: translateX(-66.6666666667%);
}

.slider-backgrounds, .slider-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  position: relative;
}

.sb1,
.sb2,
.sb3,
.si1,
.si2,
.si3 {
  width: 100%;
  height: 600px;
}

.slider-backgrounds {
  -webkit-transition: -webkit-transform 900ms ease;
  transition: -webkit-transform 900ms ease;
  transition: transform 900ms ease;
  transition: transform 900ms ease, -webkit-transform 900ms ease;
  z-index: -1;
}

.sb1 {
  left: 0;
  right: 200%;
  background-color: #8e44ad;
}

.sb2 {
  left: 100%;
  right: 100%;
  background-color: #ea4c89;
}

.sb3 {
  left: 200%;
  right: 0;
  background-color: #75c1e8;
}

.sb1 {
  background-position: bottom;
}

.sb2,
.sb3 {
  background-position: center center;
}

.sb1,
.sb2,
.sb3 {
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-items {
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
  z-index: 0;
  margin-top: -600px;
}

.si1 > img {
  width: 25%;
  max-width: 4489px;
  max-height: 3139px;
  vertical-align: middle;
}

.si1 > figcaption {
  font-family: Dapps-Pacifico, Open-Sans, Dapps-Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 18pt;
  color: #fff;
}

.si2 > img {
  width: 40%;
  max-width: 946px;
  max-height: 457px;
}

.si3 > figcaption {
  font-family: BonvenoCF, Open-Sans, Dapps-Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 34pt;
  color: #fff;
}

.si1,
.si2,
.si3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact {
  font-family: Dapps-Raleway, Open-Sans, Dapps-Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  text-align: center;
  background-color: #fff;
  margin: 15px 25px 15px 25px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 50px 0;
}

#contact > h1 {
  font-weight: 400;
  font-size: 26pt;
  color: #b9874c;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}

#contact > h4 {
  font-size: 13px;
  font-weight: lighter;
  margin-top: 50px;
}

.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
}

.member {
  width: 28%;
}

.member > h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0 0 0;
}

.member > h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.member > p {
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
}

.portrait {
  position: relative;
  margin: auto;
  width: 45%;
}

.portrait::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 35px 0px black inset;
  border: #b9874c solid 4px;
}

.portrait > img {
  vertical-align: middle;
}

.portrait > img, .portrait::before {
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.portrait-image {
  width: 50%;
  height: 50%;
  max-width: 570px;
  max-height: 570px;
}

footer {
  margin: 15px 25px 25px 25px;
  text-align: center;
  background-color: #222;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 50px 0;
}

footer > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer > ul > li {
  width: 5%;
  height: auto;
  margin: 0 5px 0 5px;
}

.social-link > img {
  width: 100%;
  height: auto;
}

/* Make sure media queries get linked last */
/* 16:9 */
@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_480.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_480.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_480.png);
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 640px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_640.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_640.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_640.png);
  }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 720px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_720.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_720.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_720.png);
  }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 848px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_848.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_848.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_848.png);
  }
}

@media only screen and (min-device-width: 848px) and (max-device-width: 960px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_960.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_960.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_960.png);
  }
}

@media only screen and (min-device-width: 960px) and (max-device-width: 1024px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_1024.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_1024.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_1024.png);
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_1280.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_1280.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_1280.png);
  }
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1366px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_1366.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_1366.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_1366.png);
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1600px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_1600.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_1600.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_1600.png);
  }
}

@media only screen and (min-device-width: 1600px) and (max-device-width: 1920px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_1920.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_1920.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_1920.png);
  }
}

@media only screen and (min-device-width: 1920px) and (max-device-width: 2048px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_2048.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_2048.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_2048.png);
  }
}

@media only screen and (min-device-width: 2048px) and (max-device-width: 2560px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_2560.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_2107.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_2560.png);
  }
}

@media only screen and (min-device-width: 2048px) and (max-device-width: 2880px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_2880.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_2107.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_2880.png);
  }
}

@media only screen and (min-device-width: 2880px) and (max-device-width: 3200px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_3200.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_2107.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_3200.png);
  }
}

@media only screen and (min-device-width: 3200px) and (max-device-width: 3840px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_3840.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_2107.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_3840.png);
  }
}

@media only screen and (min-device-width: 3840px) and (max-device-width: 4096px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_4096.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_2107.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_4096.png);
  }
}

@media only screen and (min-device-width: 4096px) and (max-device-width: 5120px) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_4489.png);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_2107.png);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_4489.png);
  }
}
