#contact > h2,
#contact > p {
  text-align: center;
}

.portrait > img, .portrait::before {
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#contact {
  > h2 {
    font-weight: 400;
    color: #b9874c;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  > p {
    font-weight: 300;
  }
}

.team {
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.member {
  > h3 {
    font-weight: 400;
  }
  > p {
    font-weight: 300;
  }
}

.portrait {
  position: relative;
  margin: auto;
}
    
.portrait::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 35px 0px black inset;
  border-style: solid;
  border-color: #b9874c;
}

.portrait > img {
  vertical-align: middle;
}

.portrait-image {
  width: 50%;
  height: 50%;
}

@mixin contact(
  $title-font-size: null,
  $team-flex-direction: null,
  $team-padding: null,
  $member-margin: null,
  $portrait-width: null,
  $portrait-border-width: null,
  $portrait-box-shadow: null,
  $name-font-size: null,
  $name-margin: null,
  $description-font-size: null) {
  .member > p,
  #contact > p {
    font-size: $description-font-size;
  }
  #contact {
    > h2 {
      font-size: $title-font-size;
    }
  }
  .team {
    padding: $team-padding;
    flex-direction: $team-flex-direction;
  }
  .member {
    margin: $member-margin;
    > h3 {
      font-size: $name-font-size;
      margin: $name-margin;
    }
    > p {
      font-size: $description-font-size;
    }
  }
  .member:last-child {
    margin-bottom: 0;
  }
  .portrait {
    width: $portrait-width;
  }
  .portrait::before {
    border-width: $portrait-border-width;
    box-shadow: $portrait-box-shadow;
  }
}