// #b9874c
// #D4AF8A
// #D4AF60
$accent-color: #D4AF82;

#contact > h2,
#contact > p {
  text-align: center;
}

.portrait > img, .portrait::before {
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#contact {
  text-align: center;
  > h2 {
    font-weight: 400;
    color: $accent-color;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  > p {
    font-weight: 300;
  }
}

.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
}

.member {
  > h3, > h4 {
    font-weight: 400;
    line-height: 1.16667;
  }
  > p {
    font-weight: 300;
  }
}

.portrait {
  position: relative;
  margin: auto;
}
    
.portrait::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 35px 0px black inset;
  border-style: solid;
  border-color: $accent-color;
}

.portrait > img {
  vertical-align: middle;
}

.portrait-image {
  width: 50%;
  height: 50%;
}

@mixin contact(
  $vertical-inner-margin: null,
  $title-font-size: null,
  $team-flex-direction: null,
  $member-width: null,
  $portrait-dimensions: null,
  $portrait-border-width: null,
  $portrait-box-shadow: null,
  $name-font-size: null,
  $name-margin: null,
  $description-font-size: null) {
  #contact > h2,
  .member {
    margin-bottom: $vertical-inner-margin;
  }
  #contact > p,
  .member > p {
    font-size: $description-font-size;
  }
  #contact {
    > h2 {
      font-size: $title-font-size;
    }
  }
  .member {
    width: $member-width;
    > h3, > h4 {
      font-size: $name-font-size;
    }
    > h3 {
      margin-top: $name-margin;
    }
    > h4 {
      margin-bottom: $name-margin;
    }
    > p {
      font-size: $description-font-size;
    }
  }
  .portrait {
    width: $portrait-dimensions;
    height: $portrait-dimensions;
  }
  .portrait::before {
    border-width: $portrait-border-width;
    box-shadow: $portrait-box-shadow;
  }
}