#contact {
  font-family: Raleway, $fallback-fonts;
  text-align: center;
  background-color: #f2f2f2;
  margin: $section-margin;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  padding: 5% 0 5% 0;

  h1 {
    font-weight: 400;
    font-size: 3.25vw;
    color: #b9874c;
    margin: 0 0 4.9%
  }

  h2 {
    font-weight: 500;
    margin: 16px 0 0
  }

  h2, h3 {
    font-size: 1.4vw
  }

  h3 {
    font-weight: 400;
    margin: 0 0 16px
  }

  p {
    margin: 0
  }

  h4, p {
    font-weight: lighter;
    font-size: 1.1vw
  }

  h4 {
    margin: 56px 0 0
  }
}

.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portrait {
  position: relative;
  margin: auto;
  width: 33%;
}
    
.portrait::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 35px 0px black inset;
  border: #b9874c solid 4px;
}

.portrait > img {
  vertical-align: middle;
}

.portrait > img, .portrait::before {
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.portrait-image {
  width: 50%;
  height: 50%;
  max-width: 570px;
  max-height: 570px
}