$fonts-path: "/fonts/";
$font-weights: (
  "thin": 100,
  "hairline": 100,
  "extralight": 200,
  "ultralight": 200,
  "light": 300,
  "normal": 400,
  "regular": 400,
  "": 400,
  "medium": 500,
  "semibold": 600,
  "demibold": 600,
  "bold": 700,
  "extrabold": 800,
  "ultrabold": 800,
  "black": 900,
  "heavy": 900
);
$font-styles: (
  "normal": normal,
  "": normal,
  "italic": italic,
  "oblique": oblique
);

@mixin fontsquirrel-face(
  $font-family,
  $font-weight: "",
  $font-style: ""
  ) {
  $font-weight: to-lower-case($font-weight);
  $font-style: to-lower-case($font-style);
  @if map-has-key($font-weights, $font-weight) {
    @if map-has-key($font-styles, $font-style) {
      $font-name: to-lower-case($font-family);
      $file-name: $font-name;
      @if $font-weight != "" or $font-style != "" {
        $file-name: $file-name + "-" + $font-weight + $font-style;
      }
      $file-name: $file-name + "-webfont";

      $font-dir: $font-name + "-web/";
      $path: $fonts-path + $font-dir + $file-name;

      $svg-name: "#" + $font-name + $font-weight;
      @if $font-style != "" {
        $svg-name: $svg-name + "_" + $font-style;
      }
      @font-face {
        font-family: $font-family;
        src: url($path + ".eot");
        src: url($path + ".eot?#iefix") format("embedded-opentype"),
             url($path + ".woff2") format("woff2"),
             url($path + ".woff") format("woff"),
             url($path + ".ttf") format("truetype"),
             url($path + ".svg" + $svg-name) format("svg");
        font-weight: #{inspect(map-get($font-weights, $font-weight))};
        font-style: #{inspect(map-get($font-styles, $font-style))};
      }
    }
    @else {
      @warn "The provided font style is not valid."
      + "Check the font-styles table for valid font styles.";
    }
  }
  @else {
    @warn "The provided font weight is not valid."
    + "Check the font-weights table for valid font weights.";
  }
}
/* Font Utilities */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300|Pacifico);

@include fontsquirrel-face(
  "BonvenoCF",
  $font-weight: "light"
);
/* Fonts */