footer {
  text-align: center;
  > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
}

footer > ul > li, .social-link, .social-link > img {
  display: block;
}

@mixin footer(
  $link-width: null,
  $link-margin: null) {
  .social-link > img {
    width: $link-width;
  }
  footer > ul > li {
    margin: $link-margin;
  }
}