$items: 3;
$foreground-transition-speed: 700ms;
$active-transition-speed: $foreground-transition-speed;
$background-transition-speed: 900ms;
$active-z-index: 2;
$button-z-index: 1;
$foreground-z-index: 0;
$background-z-index: -1;
$primary-color: #fff;

@mixin slider(
  $margin: null,
  $border-radius: null,
  $box-shadow: null) {
  #slider {
    margin: $margin;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}

#slider {
  position: relative;
  overflow: hidden;
  > input[type="radio"] {
    display: none;
  }
}

@mixin slider-height($height: null) {
  .slider-stack > * {
    height: $height;
  }
  .slider-foregrounds {
    margin-top: -$height;
  }
}

.button,
.active {
  position: absolute;
  border-radius: 50%;
}

.button {
  cursor: pointer;
  z-index: $button-z-index;
  border-style: solid;
  border-color: $primary-color;
}

.active {
  z-index: $active-z-index;
  transition: all $active-transition-speed ease;
  background-color: $primary-color;
}

#radio1:checked ~ .active {
  transform: translateX(0);
}

.b2 {
  margin-left: 0;
}

@mixin slider-controls(
  $dimensions: null,
  $margin: null,
  $border-size: null,
  $left: null,
  $bottom: null) {
  .button {
    height: $dimensions;
    width: $dimensions;
    left: calc(#{$left} - #{$dimensions / 2});
    bottom: $bottom;
    border-width: $border-size;
  }
  $active-dimensions: $dimensions / 2;
  .active {
    height: $active-dimensions;
    width: $active-dimensions;
    left: calc(#{$left} - #{$active-dimensions / 2} - #{$margin});
    bottom: $bottom + $active-dimensions / 2;
  }
  #radio2:checked ~ .active {
    transform: translateX($margin);
  }
  #radio3:checked ~ .active {
    transform: translateX($margin * 2);
  }
  .b1 {
    margin-left: -$margin;
  }
  .b3 {
    margin-left: $margin;
  }
}

.sf1 {
  > img {
    vertical-align: middle;
  }
  > figcaption {
    font-family: Pacifico, $fallback-fonts;
    color: $primary-color;
  }
}

@mixin sf1(
  $img-width: null,
  $font-size: null,
  $separation: null) {
  .sf1 {
    > img {
      width: $img-width;
      margin-bottom: $separation;
    }
    > figcaption {
      font-size: $font-size;
    }
  }
}

@mixin sf2($img-width: null) {
  .sf2 {
    > img {
      width: $img-width;
    }
  }
}

.sf3 {
  > figcaption {
    font-family: BonvenoCF, $fallback-fonts;
    color: $primary-color;
  }
}

@mixin sf3($font-size: null) {
  .sf3 {
    > figcaption {
      font-size: $font-size;
    }
  }
}

#radio1:checked ~ .slider-stack {
  transform: translateX(0);
}

#radio2:checked ~ .slider-stack {
  transform: translateX(-100% / $items);
}

#radio3:checked ~ .slider-stack {
  transform: translateX(-100% / $items * 2);
}

.slider-stack {
  position: relative;
  width: $items * 100%;
  display: flex;
  > * {
    width: 100%;
  }
}

.slider-backgrounds {
  transition: transform $background-transition-speed ease;
  z-index: $background-z-index;
  > * {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.sb1 {
  left: 0;
  right: 200%;
  background-color: #8e44ad;
  background-position: bottom;
}

@mixin sb($key: null) {
  @if map-has-key($breakpoints, $key) {
    .sb1 {
      background-image: url(/images/slider/dapper-apps/dapper-background_#{inspect(map-get($breakpoints, $key))}.png);
    }
    .sb2 {
      background-image: url(/images/slider/kamis-nightmare/kami-background_#{inspect(map-get($breakpoints, $key))}.png);
    }
    .sb3 {
      background-image: url(/images/slider/at-franco/franco-background_#{inspect(map-get($breakpoints, $key))}.png);
    }
  }
}

.sb2 {
  left: 100%;
  right: 100%;
  background-color: #ea4c89;
  background-position: bottom;
}

.sb3 {
  left: 200%;
  right: 0;
  background-color: #75c1e8;
  background-position: center;
}

.slider-foregrounds {
  transition: transform $foreground-transition-speed ease;
  z-index: $foreground-z-index;
  > * {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@include slider(
  $margin: 25px 25px 15px 25px,
  $border-radius: 2px,
  $box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3)
);
@include slider-height(
  $height: 224px
);
@include slider-controls(
  $dimensions: 12px,
  $margin: 20px,
  $border-size: 2px,
  $left: 50%,
  $bottom: 12px
);
@include sf1(
  $img-width: 75px,
  $font-size: 14px,
  $separation: 5px
);
@include sf2(
  $img-width: 150px
);
@include sf3(
  $font-size: 16px
);
@include sb(
  $key: "mobile-s"
);