@mixin header(
  $slider-controls-left: null,
  $slider-controls-bottom: null,
  $slider-controls-margin: null,
  $slider-controls-dimensions: null,
  $slider-height: null,
  $slider-controls-border-width: null,
  $sf1-img-width: null,
  $sf1-font-size: null,
  $sf1-separation: null,
  $sf2-img-width: null,
  $sf3-font-size: null,
  $img-class: null) {

  $items: 3;
  $foreground-transition-speed: 700ms;
  $active-transition-speed: $foreground-transition-speed;
  $background-transition-speed: 900ms;
  $active-z-index: 2;
  $button-z-index: 1;
  $foreground-z-index: 0;
  $background-z-index: -1;
  $foreground-color: #fff;

  #slider, .slider-stack > * {
    height: $slider-height;
  }

  #slider {
    position: relative;
    overflow: hidden;
    > input[type="radio"] {
      display: none;
    }
  }

  .slider-foregrounds {
    transition: transform $foreground-transition-speed ease;
    z-index: $foreground-z-index;
    > * {
      display: flex;
      margin: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @if $slider-height != null {
      margin-top: -$slider-height;
    }
  }

  .button,
  .active {
    position: absolute;
    border-radius: 50%;
  }

  .button {
    cursor: pointer;
    z-index: $button-z-index;
    border-style: solid;
    border-color: $foreground-color;
    height: $slider-controls-dimensions;
    width: $slider-controls-dimensions;
    bottom: $slider-controls-bottom;
    border-width: $slider-controls-border-width;
    @if $slider-controls-left != null
    and $slider-controls-dimensions != null {
      left: calc(#{$slider-controls-left} - #{$slider-controls-dimensions / 2});
    }
  }

  .active {
    z-index: $active-z-index;
    transition: all $active-transition-speed ease;
    background-color: $foreground-color;
    @if $slider-controls-dimensions != null {
      $slider-controls-active-dimensions: $slider-controls-dimensions / 2;
      height: $slider-controls-active-dimensions;
      width: $slider-controls-active-dimensions;
      @if $slider-controls-left != null
      and $slider-controls-margin != null {
        left: calc(#{$slider-controls-left} - #{$slider-controls-active-dimensions / 2} - #{$slider-controls-margin});
      }
      @if $slider-controls-bottom != null {
        bottom: $slider-controls-bottom + $slider-controls-active-dimensions / 2;
      }
    }
  }

  #radio1:checked ~ .active {
    transform: translateX(0);
  }

  @if $slider-controls-margin != null {
    #radio2:checked ~ .active {
      transform: translateX($slider-controls-margin);
    }
    #radio3:checked ~ .active {
      transform: translateX($slider-controls-margin * 2);
    }
    .b1 {
      margin-left: -$slider-controls-margin;
    }
  }

  .b2 {
    margin-left: 0;
  }

  .b3 {
    margin-left: $slider-controls-margin;
  }

  #radio1:checked ~ .slider-stack {
    transform: translateX(0);
  }

  #radio2:checked ~ .slider-stack {
    transform: translateX(-100% / $items);
  }

  #radio3:checked ~ .slider-stack {
    transform: translateX(-100% / $items * 2);
  }

  .slider-stack {
    position: relative;
    width: $items * 100%;
    display: flex;
    > * {
      width: 100%;
    }
  }

  .slider-backgrounds {
    transition: transform $background-transition-speed ease;
    z-index: $background-z-index;
    > * {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .sb1 {
    left: 0;
    right: 200%;
    background-color: #8e44ad;
    background-position: bottom;
    @if $img-class != null {
      background-image: url(/images/slider/dapper-apps/dapper-background_#{$img-class}.png);
    }
  }

  .sb2 {
    left: 100%;
    right: 100%;
    background-color: #ea4c89;
    background-position: bottom;
    @if $img-class != null {
      background-image: url(/images/slider/kamis-nightmare/kami-background_#{$img-class}.png);
    }
  }

  .sb3 {
    left: 200%;
    right: 0;
    background-color: #75c1e8;
    background-position: center;
    @if $img-class != null {
      background-image: url(/images/slider/at-franco/franco-background_#{$img-class}.png);
    }
  }

  .sf1 {
    img {
      vertical-align: middle;
    }
    > figure {
      text-align: center;
      > img {
        width: $sf1-img-width;
        margin-bottom: $sf1-separation;
      }
      > figcaption {
        font-family: 'Pacifico', cursive;
        color: $foreground-color;
        font-size: $sf1-font-size;
      }
    }
  }

  .sf3 {
    > figcaption {
      font-family: 'BonvenoCF', sans-serif;
      color: $foreground-color;
      font-size: $sf3-font-size;
    }
  }

  .sf1 > figure {
    
    
  }

  .sf2 > img {
    width: $sf2-img-width;
  }
}