@charset "utf-8";

@import "fonts";

@import "reset";

@import "utility";

$accent-color: #d4af82;
$page-background-color: #f2f2f2;
$section-background-color: #fff;
$footer-background-color: #222;
$separator-color: #d4dce0;

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.66667;
  letter-spacing: 0;
  background-color: $page-background-color;
}

a {
  color: $accent-color;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
}

section {
  background-color: $section-background-color;
}

footer {
  background-color: $footer-background-color;
}

@import "header";

@import "contact";

@import "footer";

@import "media";