@charset "utf-8";

@import 'fonts';

@import 'reset';

$fallback-fonts: Open-Sans, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
body {
  font-family: $fallback-fonts;
  font-size: 18px;
  /*line-height: 26px;*/
  /*letter-spacing: 1px;*/
}

$section-margin: 25px;

@import 'header';

@import 'contact';

@import 'footer';