/* Responsive Design */
@include header(
  $height: 40px
);
@include slider(
  50%,
  12px,
  $slider-controls-margin: 30px,
  $slider-controls-dimensions: 16px,
  $slider-height: 348px,
  $slider-controls-border-width: 2px,
  $sf1-img-width: 125px,
  $sf2-img-width: 250px,
  $sf3-font-size: 20px
);
@include slider-images("small");
@include respond-min-2x("mobile") {
  @include slider-images("small_2x");
}
@include contact(
  $vertical-spacing: 30px,
  $title-font-size: 36px,
  $team-flex-direction: column,
  $portrait-dimensions: 100px,
  $portrait-border-width: 2px,
  $portrait-box-shadow: 0 0 15px 0 black inset,
  $name-font-size: 18px,
  $name-margin: 10px,
  $description-font-size: 16px,
  $border-bottom: 1px solid $separator-color,
  $padding: 30px 18px
);
@include footer(
  $link-width: 35px,
  $link-margin: 0 10px,
  $padding: 30px 18px
);

@include respond-min("tablet") {
  @include slider(
    50%,
    12px,
    $slider-controls-margin: 50px,
    $slider-controls-dimensions: 24px,
    $slider-height: 650px,
    $sf1-img-width: 200px,
    $sf2-img-width: 400px,
    $sf3-font-size: 40px
  );
  @include slider-images("medium");
  @include contact(
    $vertical-spacing: 35px,
    $title-font-size: 40px,
    $portrait-dimensions: 125px,
    $padding: 60px 95px
  );
  @include footer(
    $link-width: 50px,
    $padding: 60px 95px
  );
}
@include respond-min-2x("tablet") {
  @include slider-images("medium_2x");
}

@include respond-min("laptop") {
  @include slider(
    $slider-controls-left: 50%,
    $slider-controls-bottom: 12px,
    $slider-controls-margin: 48px,
    $slider-controls-dimensions: 24px,
    $slider-height: 615px
  );
  @include slider-images("large");
  @include contact(
    $member-width: 30%,
    $border-bottom: 0 none $page-background-color
  );
}
@include respond-min-2x("laptop") {
  @include slider-images("large_2x");
}

@include respond-min("desktop") {
  @include slider(
    50%,
    12px
  );
  @include contact(
    $member-width: 25%
  );
  @include footer(
    $link-width: 50px,
    $link-margin: 0 10px
  );
}
/* Responsive Design */