/* Responsive Design */
@include header(
  $slider-controls-left: 50%,
  $slider-controls-bottom: 12px,
  $slider-controls-margin: 30px,
  $slider-controls-dimensions: 16px,
  $slider-height: 224px,
  $slider-controls-border-width: 2px,
  $sf1-img-width: 100px,
  $sf1-font-size: 18px,
  $sf1-separation: 5px,
  $sf2-img-width: 200px,
  $sf3-font-size: 20px,
  $img-class: "mobile"
);

@include respond-small("mobile") {
  @include contact(
    $title-font-size: 32px,
    $team-flex-direction: column,
    $team-padding: 20px 10px,
    $member-margin: 0 0 30px 0,
    $portrait-width: 100px,
    $portrait-border-width: 1px,
    $portrait-box-shadow: 0px 0px 15px 0px black inset,
    $name-font-size: 18px,
    $name-margin: 10px 0,
    $description-font-size: 16px
  );
  @include footer(
    50px,
    0 10px
  );
}

// @include respond-small-2x("tablet") {
//   @include header-images("small_2x");
// }
/* Responsive Design */