/* Static Slider Styles */
$slider-items: 3;
$foreground-transition-speed: 700ms;
$active-transition-speed: $foreground-transition-speed;
$background-transition-speed: 900ms;
$active-z-index: 2;
$button-z-index: 1;
$foreground-z-index: 0;
$background-z-index: -1;
$foreground-color: #fff;

#slider {
  position: relative;
  overflow: hidden;
  > input[type="radio"] {
    display: none;
  }
}

.button,
.active {
  position: absolute;
  border-radius: 50%;
}

.button {
  cursor: pointer;
  z-index: $button-z-index;
  border: solid $foreground-color;
}

.active, .slider-stack {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-play-state: running;
}

.active {
  animation-name: previewActive;
  z-index: $active-z-index;
  transition: transform $active-transition-speed ease;
  background-color: $foreground-color;
}

.sf1 {
  img {
    vertical-align: middle;
  }
  > figure {
    text-align: center;
  }
}

.sf3 {
  > figcaption {
    font-family: 'BonvenoCF', sans-serif;
    color: $foreground-color;
  }
}

@for $i from 0 to $slider-items {
  #radio#{$i + 1}:checked ~ .slider-stack {
    transform: translateX(if($i == 0, 0, -100% / $slider-items * $i));
  }
}

@mixin animate-preview($name, $items, $item-width, $freeze-time, $slide-time) {
  @if $items > 1 {
    @keyframes #{$name} {
      $divisions: (2 * $items);
      $halfdiv: $divisions / 2;
      $freeze-percent: 100 / ((($slide-time / $freeze-time) * $halfdiv) + $halfdiv);
      $slide-percent: 100 / ((($freeze-time / $slide-time) * $halfdiv) + $halfdiv);
      $percent: 0;
      #{$percent}% {
        transform: translateX(0);
      }
      $percent: $percent + $freeze-percent;
      #{$percent}% {
        transform: translateX(0);
      }
      @for $i from 1 to $items {
        $translation: $item-width * $i;
        $percent: $percent + $slide-percent;
        #{$percent}% {
          transform: translateX($translation);
        }
        $percent: $percent + $freeze-percent;
        #{$percent}% {
          transform: translateX($translation);
        }
      }
      $percent: $percent + $slide-percent;
      #{$percent}% {
        transform: translateX(0);
      }
    }
  }
}

//@include animate-preview(previewStack, $slider-items, -100% / $slider-items, 5, .5);

.slider-stack {
  animation-name: previewStack;
  position: relative;
  width: $slider-items * 100%;
  display: flex;
  > h1, > figure {
    width: 100%;
  }
}

.slider-backgrounds {
  transition: transform $background-transition-speed ease;
  z-index: $background-z-index;
  > figure {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@for $i from 1 through $slider-items {
  .sb#{$i} {
    left: #{($i - 1) * 100%};
    right: #{($slider-items - $i) * 100%};
    @if $i == 1 {
      background: #8e44ad bottom;
    }
    @if $i == 2 {
      background: #ea4c89 top;
    }
    @if $i == 3 {
      background: #75c1e8 center;
    }
  }
}

.slider-foregrounds {
  transition: transform $foreground-transition-speed ease;
  z-index: $foreground-z-index;
  > h1, > figure {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* Static Slider Styles */

@mixin slider(
  $slider-controls-left,
  $slider-controls-bottom,
  $slider-controls-margin: null,
  $slider-controls-dimensions: null,
  $slider-height: null,
  $slider-controls-border-width: null,
  $sf1-img-width: null,
  $sf2-img-width: null,
  $sf3-font-size: null) {
  #slider,
  .slider-stack > h1,
  .slider-stack > figure, {
    height: $slider-height;
  }
  @if $slider-height != null {
    .slider-foregrounds {
      margin-top: -$slider-height;
    }
  }
  .button {
    height: $slider-controls-dimensions;
    width: $slider-controls-dimensions;
    bottom: $slider-controls-bottom;
    border-width: $slider-controls-border-width;
    @if $slider-controls-left != null
    and $slider-controls-dimensions != null {
      left: calc(#{$slider-controls-left} - #{$slider-controls-dimensions / 2});
    }
  }
  .active {
    @if $slider-controls-dimensions != null {
      $slider-controls-active-dimensions: $slider-controls-dimensions / 2;
      height: $slider-controls-active-dimensions;
      width: $slider-controls-active-dimensions;
      @if $slider-controls-left != null
      and $slider-controls-margin != null {
        left: calc(#{$slider-controls-left} - #{$slider-controls-active-dimensions / 2} - #{$slider-controls-margin});
      }
      @if $slider-controls-bottom != null {
        bottom: $slider-controls-bottom + $slider-controls-active-dimensions / 2;
      }
    }
  }
  @if $slider-controls-margin != null {
    //@include animate-preview(previewActive, $slider-items, $slider-controls-margin, 5, .5);
    @for $i from 0 to $slider-items {
      #radio#{$i + 1}:checked ~ .active {
        transform: translateX($slider-controls-margin * $i);
      }
    }
    @for $i from 1 through floor($slider-items / 2) {
      .b#{$i} {
        margin-left: -$slider-controls-margin * $i;
      }
    }
    @for $i from 2 through floor($slider-items / 2) + 2 {
      .b#{$i} {
        margin-left: $slider-controls-margin * ($i - 2);
      }
    }
  }
  .sf1 > figure {
    > img {
      width: $sf1-img-width;
    }
  }
  .sf2 > img {
    width: $sf2-img-width;
  }
  .sf3 > figcaption {
    font-size: $sf3-font-size;
  }
}

@mixin slider-images($img-class) {
  .sb1 {
    background-image: url(/images/slider/dapper-apps/dapper-background_#{$img-class}.jpg);
  }
  .sb2 {
    background-image: url(/images/slider/kamis-nightmare/kami-background_#{$img-class}.jpg);
  }
  .sb3 {
    background-image: url(/images/slider/at-franco/franco-background_#{$img-class}.jpg);
  }
}