$breakpoints: (
  "small": 0,
  "medium": 736px,
  "large": 1440px
);

@mixin respond-min($key) {
  @if map-has-key($breakpoints, $key) {
    @media only screen
    and (min-width: #{inspect(map-get($breakpoints, $key))}) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin respond-min-2x($key) {
  @if map-has-key($breakpoints, $key) {
    $br: inspect(map-get($breakpoints, $key));
    @media
    only screen and (min-width: #{$br}) and (min-resolution: 1.5dppx),
    only screen and (min-width: #{$br}) and (min-resolution: 144dpi) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin semantic-properties(
$margin: null,
$border-radius: null,
$box-shadow: null,
$padding: null) {
  header, section, footer {
    margin: $margin;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
  section, footer {
    padding: $padding;
  }
}