$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "laptop-s": 1024px,
  "laptop-m": 1440px,
  "laptop-l": 1920px,
  "desktop-s": 2560px,
  "desktop-m": 3200px,
  "desktop-l": 4096px
);

@mixin respond-small($key) {
  @if map-has-key($breakpoints, $key) {
    @media only screen
    and (min-width: #{inspect(map-get($breakpoints, $key))}) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin respond-small-2x($key) {
  @if map-has-key($breakpoints, $key) {
    /*
    @media
    only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 735px),
    only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
    only screen and (max-width: 735px) and (min-resolution: 144dpi)
    small
    small_2x
    medium
    medium_2x
    large
    large_2x
     */
    $br: inspect(map-get($breakpoints, $key));
    @media
    only screen and (max-width: #{$br}) and (min-resolution: 1.5dppx),
    only screen and (max-width: #{$br}) and (min-resolution: 144dpi) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin semantic-properties(
$margin: null,
$border-radius: null,
$box-shadow: null,
$padding: null) {
  header, section, footer {
    margin: $margin;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
  section, footer {
    padding: $padding;
  }
}