section#contact
  h1 Meet the team
  .team
    .member
      figure.portrait
        img(alt="Francisco Aguilera Portrait" src="/images/people/fran-portrait.png")
      h2 Francisco Aguilera
      h3 CEO, Head Developer and Graphic Designer
      p Francisco is a Pittsburgh-born entrepreneur and the original founder and visionary of Dapper-Apps LLC. His experience working for some of the best tech companies and innovators in Computer Science and diversity have made him into a top notch global developer.
    .member
      figure.portrait
        img(alt="Antonio Assenza Portrait" src="/images/people/tony-portrait.png")
      h2 Antonio Assenza
      h3 CFO, Head of Business and Public Relations
      p Antonio has gained vast experience working for different companies globally as part of their finance department and as a business consultant. A fierce inventor, Antonio loves pushing the boundaries of conventional ideas.
    .member
      figure.portrait
        img(alt="Rafael Aguilera Portrait" src="/images/people/rafa-portrait.png")
      h2 Rafael Aguilera
      h3 Head Composer, Animator and Graphic Designer
      p Rafael is a Computer Scientist specializing in animation, design and musical composition. He has a wide range of experience and over 9 years of training in Music and Art. We always count on him to compose clever additions for our products.
  h4 Go ahead, send us a line. We would like to hear about your product or idea.