footer
  ul
    li
      a.social-link(href="https://www.facebook.com/therealdapperapps")
        img(src="/images/social/fb-logo.svg")
    li
      a.social-link(href="https://instagram.com/DapperApps/")
        img(src="/images/social/it-logo.svg")
    li
      a.social-link
        img(src="/images/social/tw-logo.svg")
    li
      a.social-link(href="https://www.youtube.com/channel/UCE8YmlcsA2NbutQBRuc7frQ/")
        img(src="/images/social/yt-logo.svg")