header.slider
  input#radio1(type="radio" name="controls")
  label.button.b1(for="radio1")
  input#radio2(type="radio" name="controls")
  label.button.b2(for="radio2")
  input#radio3(type="radio" name="controls")
  label.button.b3(for="radio3")
  .active
  .slider-items
    figure.slider-item.s1
      img(alt="Dapper-Apps Logo" src="/images/slider/dapper-apps/logo.svg")
      figcaption Simple, clean, social apps.
    figure.slider-item.s2
      img(alt="Kami's Nightmare Logo." src="/images/slider/kamis-nightmare/logo.png")
      figcaption Caption
    figure.slider-item.s3