doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(rel="stylesheet", href="/stylesheets/common.css")
    script(src="//localhost:35729/livereload.js")
    block styles
  body
    block content