doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='description', content=description)
    meta(name='keywords', content=keywords)
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
